@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>
<h3>We recommend these books for reading and to prepare for certification exams</h3>
<br />
<div class="row">
    <div class="col-md-4" style="margin-left: 2em">
        <p>Programming Microsoft ASP.NET MVC</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40a7ef59ee3e4a15%21807589&authkey=AGLT3Lxi1M_Jw30&em=2" width="288" height="370" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="col-md-4" style="margin-left: 2em">
        <p>SignalR programming in Microsoft ASP.NET</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40a7ef59ee3e4a15%2127263&authkey=ANay6yQ0Mm6yjXM&em=2" width="288" height="370" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4" style="margin-left: 2em">
        <p>Professional ASP.NET MVC5</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40a7ef59ee3e4a15%21807587&authkey=AJDkWRVQR3rgdjg&em=2" width="288" height="370" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="col-md-4" style="margin-left: 2em">
        <p>Getting Started with Entity Framework 6 Code First using MVC 5</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40a7ef59ee3e4a15%21813560&authkey=AMOmDm-BdFBvpHM&em=2" width="288" height="370" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4" style="margin-left: 2em">
        <p>
            <a href="http://1drv.ms/1IMbxYK" target="_blank">Professional C#5 and .NET 4.5 Framework</a>
        </p>
        <p>
            <a href="http://1drv.ms/1G30Cf7" target="_blank">Exam Ref 70-486 Developing ASP.NET MVC 4 Web Applications</a>
        </p>
    </div>
</div>
<hr />

