@{
    ViewBag.Title = "Lectures";
}
<h2>@ViewBag.Title.</h2>

<h4>Module 1. Building blocks. JavaScript & C#</h4>

<div class="row">
    <div class="col-md-4" style="margin-left: 2em">
        <p>Lecture 1. Basic Syntax</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40A7EF59EE3E4A15%21778538&authkey=AIrFU3euq8ipI0o&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="col-md-4" style="margin-left: 2em">
        <p>Lecture 1.1. Lists, Async and Concurrency</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40A7EF59EE3E4A15%21779026&authkey=AOI32iIaZyATv1A&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4" style="margin-left: 2em">
        <p>Lecture 2. Basics of MVC and The Moving Parts</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40A7EF59EE3E4A15%21779036&authkey=AFsLQHzTT6KeRCM&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="col-md-4" style="margin-left: 2em">
        <p>Lecture 3. Models in MVC and Visual Studio Tools</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40A7EF59EE3E4A15%21779038&authkey=AJR3CJSRSu7b-Go&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4" style="margin-left: 2em">
        <p>Lecture 4. Customizing controllers</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40A7EF59EE3E4A15%21779011&authkey=AAsTFy4kJmMZ0Ss&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="col-md-4" style="margin-left: 2em">
        <p>Lecture 5. Customizing views and Bootstrap</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40A7EF59EE3E4A15%21779013&authkey=AEU8iC5TdpF1wZs&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4" style="margin-left: 2em">
        <p>Lecture 6. Introduction to Authentication in MVC</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40A7EF59EE3E4A15%21779040&authkey=AEHNs9h29rtINgA&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="col-md-4" style="margin-left: 2em">
        <p>Lecture 7. Introduction Web API and Basic Design</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40A7EF59EE3E4A15%21779042&authkey=ALCSa7EuQgqR3Qk&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4" style="margin-left: 2em">
        <p>Lecture 8. Web API Configuration, Validation and Error Handling</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40A7EF59EE3E4A15%21779043&authkey=AAc6zn7i47Gu57w&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="col-md-4" style="margin-left: 2em">
        <p>Lecture 9. Web API Security and Advanced Design</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40A7EF59EE3E4A15%21779027&authkey=ACefGgMifLgEHcg&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4" style="margin-left: 2em">
        <p>Lecture 10. Introduction to SignalR and SignalR on the Web</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40A7EF59EE3E4A15%21779032&authkey=AEkwA2kip7O_aAs&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="col-md-4" style="margin-left: 2em">
        <p>Lecture 11. SignalR on the Client and Scaling</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40A7EF59EE3E4A15%21779030&authkey=ACSDG_yid1VF2VI&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4" style="margin-left: 2em">
        <p>Lecture 12. Hook into Apps for Office</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40A7EF59EE3E4A15%21779031&authkey=AIseoAjttA5CykE&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="col-md-4" style="margin-left: 2em">
        <p>Lecture 13. Azure Web Sites</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40A7EF59EE3E4A15%21779034&authkey=ALrMghQ6TgcfktE&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4" style="margin-left: 2em">
        <p>Lecture 14. Azure Web Sites. Continue</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40A7EF59EE3E4A15%21779033&authkey=AGo7UQT1q_fKCnA&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
    </div>
</div>




